.work-intro-left{font-size: 18px; line-height: 24px; }
.work-intro-left h5 {font-family: var(--secondary-font);color: var(--third-color);text-transform: inherit;font-weight: 500;font-size: 28px;line-height: 34px;letter-spacing: 0;margin-bottom: 37px;}
.work-intro-right { padding: 22px 12% 30px 30px; margin-top: 9px; }
.wir-list { font-size: 18px; line-height: 24px; }
.wir-list li + li { margin-top: 24px; }
.wir-list li p strong { display: block; }
/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px){
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px) {
.work-intro-right{margin-top:0px;margin-bottom: 0;width: calc(100% + 60px);margin-left: -30px;padding-top: 34px;padding: 34px 30px;}
.work-intro-left{padding-top: 60px; font-size: 16px; line-height: 25px;}
.work-intro-left h5{margin-bottom: 45px;}

}

/* =================================================  
 ! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px) {
}

/* ======================================================
 ! Extra small devices (portrait phones, less than 576px)
 ====================================================== */
@media (max-width: 575.98px){
}
 
